window {
  border-style: solid;
  border-width: 1px;
  border-color: #e7a947;
}

.root_box {
  margin: 8px;
}

.filter_entry {
  border: none;
  background: none;
  min-height: 36px;
  min-width: 320px;
}

.notebook {
  border: none;
}

.keybindings {
  font-family: DejaVuSansMono Nerd Font;
}

*:hover {
  background: #e7a947;
}

*:selected {
  background: #e7a947;
}

tab {
  margin-top: 2px;
}

tab:checked {
  margin-top: 0;
  border-top: 2px solid #e7a947;
  box-shadow: none;
}

